In [2]:
### bibliotecas base
import pandas as pd
import numpy as np
### bibliotecas para visualizacao de dados
import seaborn as sns
import matplotlib.pyplot as plt
### bibliotecas para estatística
import scipy.stats as stat

In [3]:
enem_json = pd.read_json('enem_2023.json')

In [95]:
enem_json.head()

,Linguagens,Ciências humanas,Ciências da natureza,Matemática,Redação,Sexo
0,585.669300,686.512178,390.482473,452.281333,546.371706,Homem
1,359.384608,642.084134,NaN,412.205207,741.825256,Mulher
2,622.732384,495.510719,443.183580,669.683401,684.515750,Homem
3,350.164605,602.041588,413.979810,676.608952,671.237114,Homem
4,384.093657,489.249140,609.758123,520.426698,744.375048,Homem

1. Qual das disciplinas tem a maior amplitude de notas?

In [39]:
enem_json.describe()

,Linguagens,Ciências humanas,Ciências da natureza,Matemática,Redação
count,898.000000,937.000000,825.000000,925.000000,861.000000
mean,514.763824,527.257988,499.594182,536.174519,637.889660
std,84.267418,78.049742,79.118314,86.833854,115.314951
min,287.000000,289.900000,314.400000,319.800000,270.839965
25%,458.375823,475.479896,444.712664,479.229225,556.576045
50%,515.054794,524.644343,500.515128,533.327963,635.352116
75%,571.686308,582.024626,548.755893,593.498876,716.006726
max,804.456317,763.919695,802.004568,807.877902,1000.000000

In [47]:
def amplitudes(df):
    df1 = df.describe()
    df1.loc["amplitude"] = df1.loc['max'] - df1.loc['min']
    return df1

In [48]:
amplitudes(enem_json)

,Linguagens,Ciências humanas,Ciências da natureza,Matemática,Redação
count,898.000000,937.000000,825.000000,925.000000,861.000000
mean,514.763824,527.257988,499.594182,536.174519,637.889660
std,84.267418,78.049742,79.118314,86.833854,115.314951
min,287.000000,289.900000,314.400000,319.800000,270.839965
25%,458.375823,475.479896,444.712664,479.229225,556.576045
50%,515.054794,524.644343,500.515128,533.327963,635.352116
75%,571.686308,582.024626,548.755893,593.498876,716.006726
max,804.456317,763.919695,802.004568,807.877902,1000.000000
amplitude,517.456317,474.019695,487.604568,488.077902,729.160035

In [93]:
def maior_amplitudes(df):
    df1 = df.describe()
    df1.loc["amplitude"] = df1.loc['max'] - df1.loc['min']
    max_amplitude = df1.loc["amplitude"].max()
    coluna = df1.columns[df1.isin([max_amplitude]).any()]
    return print(f"A maior amplitude é {max_amplitude} que fica na coluna {coluna}")

In [94]:
maior_amplitudes(enem_json)

A maior amplitude é 729.1600351395 que fica na coluna Index(['Redação'], dtype='object')

2. Qual é a média e a mediana para cada uma das disciplinas? (Lembre-se de remover todos os valores nulos quando considerar a mediana)

In [111]:
enem_tendencias = enem_json.dropna(subset=["Linguagens", "Ciências humanas", "Ciências da natureza", "Matemática", "Redação"])

In [112]:
enem_tendencias = enem_tendencias.drop(columns=["Sexo"])

In [146]:
enem_tendencias.head()

   Linguagens  Ciências humanas  Ciências da natureza  Matemática     Redação
0  585.669300        686.512178            390.482473  452.281333  546.371706
2  622.732384        495.510719            443.183580  669.683401  684.515750
3  350.164605        602.041588            413.979810  676.608952  671.237114
4  384.093657        489.249140            609.758123  520.426698  744.375048
5  616.043360        502.007005            497.777935  615.902547  507.365147

In [166]:
# print(enem_tendencias[0:].mean())
#Utilizado para comparar se os resultados futuros estão certos

In [167]:
#print(enem_tendencias[0:].median())
#Utilizado para comparar se os resultados futuros estão certos

In [134]:
enem_tendencias2 = pd.DataFrame()

In [135]:
enem_tendencias2["Matéria"] = list(enem_tendencias.columns)

In [161]:
lista_medias = []
for coluna in enem_tendencias.columns:
   lista_medias.append(enem_tendencias[coluna].mean())
print(lista_medias)

[517.8527593569739, 528.7172257655019, 502.55561254809635, 537.5221838924026, 641.3533546317391]

In [162]:
enem_tendencias2["Média"] = lista_medias

In [163]:
lista_medianas = []
for coluna in enem_tendencias.columns:
   lista_medianas.append(enem_tendencias[coluna].median())
print(lista_medianas)

[517.178027429, 529.3825907453, 502.9893551355, 533.1154142782, 639.6168325324]

In [164]:
enem_tendencias2["Mediana"] = lista_medianas

In [165]:
enem_tendencias2.head()

                Matéria       Média     Mediana
0            Linguagens  517.852759  517.178027
1      Ciências humanas  528.717226  529.382591
2  Ciências da natureza  502.555613  502.989355
3            Matemática  537.522184  533.115414
4               Redação  641.353355  639.616833

3. Considerando o curso de Ciência da Computação da UFPE, onde o peso
cada uma das disciplinas ponderado:
a. Redação - 2
b. Matemática e suas Tecnologias - 4
c. Linguagens, Códigos e suas Tecnologias - 2
d. Ciências Humanas e suas Tecnologias - 1
e. Ciências da Natureza e suas Tecnologias - 1
Qual o desvio padrão e média das notas dos 500 estudantes mais bem
colocados considerando esses pesos?

4. Se todos esses estudantes aplicassem para ciência da computação e
existem apenas 40 vagas, qual seria a variância e média da nota dos
estudantes que entraram no curso de ciência da computação?

5. Qual o valor do teto do terceiro quartil para as disciplinas de
matemática e linguagens?

6. Faça o histograma de Redação e Linguagens, de 20 em 20 pontos.
Podemos dizer que são histogramas simétricos, justifique e classifique
se não assimétricas?

7. Agora coloque um range fixo de 0 até 1000, você ainda tem a mesma
opinião quanto a simetria? [plt.hist(dado, bins=_, range=[0, 1000])

8. Faça um boxplot do quartil de todas as disciplinas de ciências da
natureza e redação. É possível enxergar outliers? Utilize o método IQR.

9. Remova todos os outliers e verifique se eles são passíveis de alterar a
média nacional significativamente? (considere significativamente um
valor acima de 5%)

10. Considerando valores nulos, tente encontrar qual seria a melhor medida
de tendência que pode substituir as notas nulas. Média, moda ou
mediana? Substitua o valor por todos os três e diga qual delas altera
menos a média geral e o desvio padrão